body { background:url(../images/DREAM.jpg) no-repeat; background-size:cover; }
.container {
	width: 1000px;
	margin:auto;
	background: #fff;
	opacity: 0.8;
	overflow:hidden;
}
h1{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align: center;
	text-transform:uppercase;
}
.container h2{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	text-align: left;
	padding-left:15px;
}
.form-container { padding: 5px 15px; }
.form-container .name {
	font-family: Arial, Helvetica, sans-serif;
	width:33%;
	float:left;
	padding-top:20px;
	padding-bottom:25px;
}
.form-container .name label { display:block; margin-bottom:5px; font-weight:bold; }
.form-container .name input { width:90%; height:30px; border:1px solid #ccc; }
.form-container .name input.date { height:32px; }
.form-container .name select { width:90%; height:30px; border:1px solid #ccc; }
.form-container .email_contact_no
{
	font-family:"Comic Sans MS", cursive;
	padding-left:50px;
	width:400px;;
	float:left;
}
.form-container .gender {
	font-family: Arial, Helvetica, sans-serif;
	width:33%;
	float:left;
	padding-top:20px;
	padding-bottom:25px;
}
.form-container .gender label.title { display: block;margin-bottom:5px; font-weight:bold; }
.form-container .gender label { display:inline-block; font-weight:normal; }
.form-container .subject {
	font-family: Arial, Helvetica, sans-serif;
	width:100%;
	float:left;
	padding-top:20px;
	padding-bottom:25px;
}
.form-container .subject label.title { display:block; margin-bottom:5px; font-weight:bold; }
.form-container .subject .subject-sub { float:left;}
.form-container .subject .subject-sub label { width: 50%; font-size:13px; align:center;}
.form-container .address {
	font-family: Arial, Helvetica, sans-serif;
	width:33%;
	float:left;
	padding-top:20px;
	padding-bottom:25px;
}
 label { display: block;margin-bottom:5px; font-weight:bold; }
.form-container .address textarea { width: 90%; height: 80px; border: 1px solid #ccc; /*resize:none;*/ background:#fff; }

.clear { clear:both }